@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active navigation menu */
.active {
    @apply text-green;
}

.active svg {
    @apply text-green;
}

/* Image card */

.card-sh {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   height: 220px;
}
/* TOPBAR */
::-webkit-scrollbar {
    width: 10px; /* largeur de la scrollbar */
    background-color: transparent; /* rend la scrollbar transparente */

}

/* cible le thumb */
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
}

/* Collapse transition */ 
.ReactCollapse--collapse {
    transition: height 1500ms;
}